@using TravelSiteWeb.ViewModel
@model IEnumerable<TravelDetail>
@{
    ViewData["Title"] = "Destination";
}
<link rel="stylesheet" href="~/css/Destination.css" />


<section class="section-finder">
    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/245995997.jpg?k=a3da9fb74a1d6ca62b8a6814195367029898272b63a7849ff9c8264a3cf0e3c0&o=&hp=1">
</section>
