@{
    ViewData["Title"] = "Home Page";
}
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="~/css/Home.css"/>

    
<div class="starter">
    <div id="welcome">
        <img id="logo" src="https://static.vecteezy.com/system/resources/previews/009/663/724/non_2x/sun-sun-ray-icon-transparent-free-png.png"></img>
    <h1>CheapTravel</h1>
        <p>Explore More for Less</p>
    </div>

</div>


<div class="row">
    <div class="column">
        <h2>
            Italian Delights Express
        </h2>
        <div1 classname="image-container">
            <img id="italy" src="https://images.unsplash.com/photo-1516483638261-f4dbaf036963?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" />
            <div id="image-text"><a asp-action="Destination" asp-controller="Home" class="btn btn-primary">Cinque Terre</a></div>
        </div1>
        <p>
            <h6><strong>Experience the essence of Italy in just 4 days with our exclusive offer!</strong><br></h6>
        
            Highlights: <br>

            Rome, the Eternal City: Explore ancient wonders like the Colosseum and Vatican City. <br>

            Florence, Renaissance Gem: Discover art treasures and savor Tuscan cuisine. <br>

            Venice, City of Canals: Glide through enchanting waterways and soak in the romance. <br>

            Package Includes: <br>

            Accommodation in central hotels <br>
            Guided tours of major attractions <br>
            Transport between cities<br>
            Authentic dining experiences<br>
            Duration: 4 days
            <br>
            <strong>Price: From €800 per person (based on double occupancy)</strong> <br>

            <p3>Book Now: Don't miss out on this whirlwind adventure through Italy's most iconic destinations! Reserve your spot today and indulge in la dolce vita!</p3>
        </p>
    </div>
    <div class="column">
        <h2>A Spanish Flamenco</h2>
        <div1 classname="image-container">
            <img id="spain" src="https://www.hachettebookgroup.com/wp-content/uploads/2020/04/Park-Guell-view.png?w=765" />
            <div id="image-text"><a asp-action="Destination" asp-controller="Home" class="btn btn-primary">Barcelona</a></div>
        </div1>
        <p>
            <h6><strong>Embark on an exhilarating journey through Spain, where vibrant culture, stunning architecture, and mouthwatering cuisine await your discovery!</strong></h6><br>

            Highlights:<br>

            Barcelona, Catalonia's Jewel: Begin your adventure in Barcelona, a city brimming with artistic flair and architectural wonders. Marvel at the surreal beauty of Antoni Gaudí's masterpieces, explore the historic Gothic Quarter, and soak up the lively atmosphere of La Rambla.<br>

            Seville, Andalusian Gem: Immerse yourself in the passion of Flamenco and the charm of Seville's narrow streets. Visit the awe-inspiring Alcázar Palace, stroll through the picturesque neighborhoods of Santa Cruz, and savor tapas in local taverns.<br>

            Madrid, Capital Extravaganza: Delve into the heart of Spain in Madrid, a city pulsating with energy and excitement. Admire world-class art at the Prado Museum, wander through the grand Plaza Mayor, and experience the vibrant nightlife in the lively neighborhoods of Malasaña and Chueca.<br>

            Package Includes:<br>

            Accommodation in centrally located hotels reflecting Spanish hospitality
            Guided tours of iconic landmarks and hidden gems
            Transportation between cities via high-speed trains
            Authentic gastronomic experiences showcasing the diverse flavors of Spain
            24/7 assistance for a seamless travel experience
            Duration: 6 days
            <br>
            <strong>Price: Starting from €1400 per person (based on double occupancy)</strong>
            <br>
            Book Now: Don't miss the opportunity to explore the dynamic tapestry of Spain's culture and cuisine! Reserve your spot now and get ready to be captivated by the beauty and diversity of this enchanting country!
        </p>
    </div>
</div>

<div class="row">
    <div class="column">
        <h2>Turkish Delights: 5-Day Adventure</h2>
        <div1 classname="image-container">
            <img id="turkey" src="https://media.istockphoto.com/id/1339815361/photo/air-balloons-flying.jpg?s=612x612&w=0&k=20&c=PTBPoxyw8LlIBT4V71cs1Qs60yDI107nBsAURwapFGI=" />
            <div id="image-text"><a asp-action="Destination" asp-controller="Home" class="btn btn-primary">Cappadocia</a></div>
            
        </div1>

        <p>
            <h6><strong>Embark on a whirlwind adventure through Turkey's rich tapestry of history, culture, and natural beauty!</strong></h6><br>

            Highlights:<br>

            Istanbul, City of Contrasts: Explore the enchanting blend of East and West in Istanbul. Visit the iconic Hagia Sophia, the majestic Blue Mosque, and wander through the vibrant lanes of the Grand Bazaar.<br>

            Cappadocia, Fairy Chimney Wonderland: Marvel at the surreal landscapes of Cappadocia, dotted with fairy chimneys and ancient cave dwellings. Take a sunrise hot air balloon ride for panoramic views that will leave you breathless.<br>

            Pamukkale, Cotton Castle Terraces: Relax and rejuvenate in the mineral-rich thermal waters of Pamukkale. Admire the stunning white terraces and ancient ruins of Hierapolis, a UNESCO World Heritage Site.<br>

            Package Includes:<br>

            Accommodation in comfortable hotels
            Guided tours of Istanbul, Cappadocia, and Pamukkale
            Transportation between cities
            Authentic Turkish cuisine experiences
            Memorable experiences and unforgettable moments! <br>
            <strong>Price: Starting from €900 per person (based on double occupancy)</strong>
            <br>
            Book Now: Don't miss out on this opportunity to experience the best of Turkey in just 5 days! Reserve your spot now and get ready for an adventure of a lifetime!
        </p>
    </div>
    <div class="column">
        <h2>Mythical Greece Wonders </h2>
        <div1 classname="image-container">
        <img id="greece" src="https://img.freepik.com/free-photo/vertical-high-angle-shot-white-buildings-santorini-greece_181624-31643.jpg" />
            <div id="image-text"><a asp-action="Destination" asp-controller="Home" class="btn btn-primary">Santorini</a></div>
        </div1>
        <p>
            <h6><strong>Embark on a captivating journey through the cradle of Western civilization with our enticing offer to Greece!</strong></h6><br>

            Highlights:<br>

            Athens, City of Gods: Begin your odyssey in Athens, where ancient ruins blend seamlessly with modern life. Explore the Acropolis, marvel at the Parthenon, and wander through the historic Plaka district<br>

            Santorini, Island Paradise: Immerse yourself in the postcard-perfect beauty of Santorini. Lose yourself in the charm of white-washed villages perched on volcanic cliffs, witness breathtaking sunsets over the Aegean Sea, and indulge in exquisite Mediterranean cuisine.<br>

            Mykonos, Jet-Set Haven: Experience the cosmopolitan allure of Mykonos. Stroll through narrow streets adorned with bougainvillea, relax on pristine beaches, and dance the night away at glamorous beach clubs.<br>

            Package Includes:<br>

            Accommodation in handpicked hotels showcasing Greek hospitality
            Guided tours of ancient landmarks and island treasures
            Ferry transfers between Athens and the islands
            Authentic culinary experiences highlighting Greek flavors
            24/7 support for a hassle-free journey
            Duration: 5 days<br>

            <strong>Price: Starting from €1200 per person (based on double occupancy)</strong><br>

            Book Now: Dive into the enchanting world of Greece and create memories that will last a lifetime! Secure your spot on this unforgettable adventure today and experience the magic of the Mediterranean!
        </p>
    </div>
</div>
