@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css//Home.css"/>

<div class="starter">
    <div id="welcome">
        <img id="logo" src="https://static.vecteezy.com/system/resources/previews/009/663/724/non_2x/sun-sun-ray-icon-transparent-free-png.png"></img>
        <h1>CheapTravel</h1>
        <p>Explore More for Less</p>
    </div>

</div>

<section class="section-finder">
    <div class="finder">

        <div class="date-from">
            <label class="label-date-from">Od kiedy?</label>
            <div class="pool">
                <input type="date" id="date" placeholder="Search"/>
            </div>

        </div>
        <div class="date-to">
            <label class="label-date-to">Do kiedy?</label>
            <div class="pool">
                <input type="date" id="date" placeholder="Search" />
            </div>
        </div>
        <div class="where">
            <label class="label-where">Gdzie?</label>
            <div class="pool">
                <input type="text" id="where" placeholder="Search" />
                @*<img id="where-icon" src="https://cdn-icons-png.flaticon.com/512/2582/2582606.png"></img> *@
                
            </div>
        </div>
        <div class="from">
            <label class="label-from">Skąd?</label>
            <div class="pool">
                <input type="text" id="from" placeholder="Search" />
                @*<img id="from-icon" src="https://www.freeiconspng.com/uploads/location-icon-24.png"></img> *@
            </div>
           
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</section>