.Offer {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    padding: 20px;
    position: relative;
    margin-top:30px;
}

.gallery-container {
    position: relative;
    max-width: 80%;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-image {
    width: 100%;
    height: auto;
    max-height: 80vh;
    display: block;
    margin: auto;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    color: white;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 50%; /* Make the arrow circular */
    background-color: rgba(0, 0, 0, 0.5); /* Grey background */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the arrow inside the circle */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

    .arrow i {
        font-size: 20px; /* Adjust size as needed */
    }

.left-arrow {
    left: 20px; /* Adjust position as needed */
}

.right-arrow {
    right: 20px; /* Adjust position as needed */
}

/* Add hover effect */
.arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
