@page
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["AccesDenied"]</p>
</header>
